body{
    background-color: #b6efee;
    
}

.title{
    text-align: center;
    text-decoration-line: underline;
}

.box {
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 1em;
    background-color: antiquewhite;
    margin-left: 10em;
    margin-right: 10em;
}

.block_one {
    border: 2px solid rgb(173, 177, 54);
    border-radius: 0.5em;
    padding: 1em;
    flex: 1;
    margin: 0.5em;
}



.block_two {
    border: 2px solid rgb(173, 177, 54);
    border-radius: 0.5em;
    padding: 1em;
    flex: 1;
    margin: 0.5em;
}

.block_three {
    border: 3px solid rgb(173, 177, 54);
    border-radius: 0.5em;
    padding: 1em;
    flex: 1;
    margin: 0.5em;
}

.block_four {
    border: 3px solid rgb(173, 177, 54);
    border-radius: 0.5em;
    padding: 1em;
    flex: 1;
    margin: 0.5em;
}

.button{
    background-color: #555555;
    border: none;
    color: white;
    border-radius: 0.5em;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.top{display: flex;
    text-align: center;
    
    
}

.bottom{display: flex;
    text-align: center;
    
}